<h3>Here goes your custom form</h3>
<p>Override HTML by creating a new partial called <strong>default.htm</strong> (more info <a href="https://wintercms.com/docs/cms/components#overriding-partials" target="_blank">here</a>)</p>
<p>You can copy/paste this basic template:</p>
<pre>
    &lbrace;&lbrace; form_ajax(__SELF__ ~ '::onFormSubmit', &lbrace; id: __SELF__ &rbrace;) &rbrace;&rbrace;
        &lt;div id="&lbrace;&lbrace; __SELF__ &rbrace;&rbrace;_forms_flash"&gt;&lt;/div&gt;
        &lt;!-- YOUR FORM FIELDS --&gt;
        &lbrace;% partial '@recaptcha' %}
        &lt;!-- SUBMIT BUTTON --&gt;
    &lbrace;&lbrace; form_close() &rbrace;&rbrace;
</pre>
