subject = "Magic Forms :: new form submited"
==
Record #{{ id}}
{% for label,value in data %}
    {{ label|capitalize }}: {% if value is iterable %}{% for val in value %}{{ val|nl2br }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}{{ value|nl2br }}{% endif %}
{% endfor %}
==
<h3>Record #{{ id}}</h3>

<table style="width: 100%; border-collapse: collapse">
    {% for label,value in data %}
    <tr>
        <td
            style="
                width: 20%;
                background-color: #ecf0f1;
                text-align: right;
                padding: 10px;
                border: solid 1px #d4d8da;
                font-weight: bold;
                word-break: keep-all;
            "
        >
            {{ label|capitalize }}:
        </td>
        <td style="width: 80%; background-color: #f9f9f9; padding: 10px; border: solid 1px #d4d8da">
            {% if value is iterable %} {% for val in value %} {{ val|nl2br }} {% if not loop.last %}, {% endif %} {% endfor %} {%
            else %} {{ value|nl2br }} {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<div style="width: 100%; text-align: right">
    <p style="font-size: 0.8em; color: #888; font-weight: bold">IP: {{ ip }}</p>
    <p style="font-size: 0.8em; color: #888; font-weight: bold">Time: {{ date }}</p>
</div>